* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper-div{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgb(249,245,245);
}

#logo-nav-div{
    width: 100%;
    min-height: 0px;
    display: flex;
    align-items: center;
    background-color: #009970;
    margin-bottom: 10px;
}
#logo-div{
    margin-top: 10px;
    width: auto;
    float: left;
    line-height: 30px;
    padding-left: 2%;
}
#nav-div{
    flex: auto;
    width: 50%;
    min-height: 50px;
    font-size: 20px;
    float: right;
    text-align: right;
    padding-right: 2%;
    line-height: 50px;
}

#header-banner-div{
    width: 100%;
    min-height: 60px;
    text-align: center;
    background-color: #009970;
    margin-bottom: 10px;
    line-height: 50px;
}

#main-div {
    width: 100%;
    min-height: 470px;
    background-color: transparent;
    margin-bottom: 10px;
}

#sidebar-div {
    width: 15%;
    min-height: 470px;
    background-color: #009970;
    float: left;
    line-height: 400px;
}

#bodyarea-div {
    width: 84.10%;
    min-height: 470px;
    background-color: #009970;
    float: right;
    line-height: 400px;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: white;
}

#footer-div{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: #009970;
    justify-content: space-between;
    line-height: 50px;
    margin-bottom: 10px;
    padding-right: 0 20px;
}

#wrapper-div {
    width: 100%;
    background-color: white;
    margin: auto;
}
