        *{       
            margin: 0px;
            padding: 0px;
            box-sizing: border-box
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            text-align: center;
            }

            #wrapper-div {
                width: 80%;
                margin: auto;
                border: 3px solid rgb(5, 80, 99);
                background-color: rgb(249,245,245);
            }

            #top-div{
                min-height: 50px;
                background-color: skyblue;
                padding-left: 2%;
                padding-right: 2%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            #main-div {
                width: 100%;
                margin-bottom: 10px;
                font-weight: bold;
            }

            #logo-nav-div{
                width: 100%;
                min-height: 0px;
                display: flex;
                align-items: center;
                background-color: skyblue;
                margin-bottom: 10px;
            }
            #logo-div{
                margin-top: 10px;
                width: auto;
                float: left;
                line-height: 30px;
                padding-left: 2%;
            }

            #nav-div {
                flex: auto;
                width: 50%;
                min-height: 50px;
                font-size: 20px;
                float: right;
                text-align: right;
                padding-right: 2%;
                line-height: 50px;
            }

            #nav-div a {
                margin: 0 10px;
                text-decoration: none;
                color: white; 
            }

            #headerb-div{
                width: 98%;
                min-height: 100px;
                padding-left: 2%;
                line-height: 100px;
                background-color: skyblue;
                margin-bottom: 10px;
            }

            #main-div {
                width: 100%;
                min-height: 400px;
                background-color: transparent;
                margin-bottom: 10px;
            }
 
            #sidebar-div {
                width: 15%;
                min-height: auto;
                background-color: skyblue;
                float: left;
                line-height: 400px;
                }
    
            #bodyarea-div {
                width: 84.10%;
                min-height: auto;
                background-color: skyblue;
                float: right;
                line-height: 400px;
                }

            .clearfix::after{
                content: " ";
                clear: both;
                display: block;
            }
            #footer-div{
                text-align: center;
                width: 100%;
                min-height: 50px;
                line-height: 50px;
                clear: both;
                background-color: skyblue;
            }